* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

body {
  min-height: 100vh;
  background: linear-gradient(0deg, var(--main-color) 80%, #740000);
  color: white;
  display: flex;
  padding: 0;
}

a {
  color: var(--accent-color);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  animation: fadeIn 1.5s ease-in;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 40px 0px;
    color: var(--accent-color);
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size:30px;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

h3 {
    font-weight: 700;
    margin-top:20px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

p, pre, ol, ul {
    margin-bottom: 20px;
    color: var(--secondary-color);
}

code, pre {
    background-color: rgba(255, 255, 255, 0.03);
    padding: 2px 6px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary-color);
}

.instructions {
  max-width: 700px;
  margin: 30px 0;
}

.workspace {
  padding: 0 30px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workspace > p {
  max-width: 700px;
  margin-top:20px;
}

input {
  margin: 30px 10px;
  padding: 12px 16px;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.03);
  color: white;
  transition: all 0.15s ease;
}

input:hover {
  background-color: white;
  color: black;
}

.button-container {
  padding: 20px;
  text-align: center;
}

button {
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    margin-bottom:50px;
}

button:hover {
  background-color: white;
  color: red;
}

.final-answer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 20px;
}

label {
  color: #ddd;
  font-size: 1rem;
  white-space: nowrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

